<p-card [header]="recipe.title">
  <ng-container *ngIf="recipe.image">
    <img class="recipe-image" [src]="recipe.image" [alt]="recipe.title" />
  </ng-container>

  <div class="recipe-meta flex justify-content-between align-items-center">
    <div class="meta-left flex align-items-center gap-3">
      <div class="prep" *ngIf="recipe.prepTime">⏱ {{ recipe.prepTime }} min</div>
      <div class="personnes" *ngIf="recipe.personnes">
        <i class="pi pi-user"></i> {{ recipe.personnes }}
      </div>
    </div>
    <div class="season">
      <span
        *ngFor="let s of recipe.season"
        class="season-badge {{ getSeasonClass(s) }}"
        [title]="s"
      >
        <fa-icon [icon]="getSeasonIcon(s)"></fa-icon>
      </span>
    </div>
  </div>

  <div class="actions flex gap-2">
    <button
      pButton
      type="button"
      icon="pi pi-eye"
      class="p-button-outlined"
      (click)="onView()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-pencil"
      class="p-button-outlined"
      (click)="onEdit()"
    ></button>
    <button
      pButton
      type="button"
      class="p-button-outlined p-button-success"
      (click)="onSendToMenu()"
      title="Envoyer au menu"
    >
      <fa-icon [icon]="faUtensils"></fa-icon>
    </button>
    <button
      pButton
      type="button"
      icon="pi pi-trash"
      class="p-button-outlined p-button-danger"
      (click)="onDelete()"
    ></button>
  </div>
</p-card>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
