<p-card [header]="recipe.title" [subheader]="recipe.season">
  <ng-container *ngIf="recipe.image">
    <img class="recipe-image" [src]="recipe.image" [alt]="recipe.title" />
  </ng-container>

  <div class="recipe-meta flex justify-content-between align-items-center">
    <div class="prep">⏱ {{ recipe.prepTime }} min</div>
    <div class="cost">€{{ recipe.cost }}</div>
  </div>

  <p class="description">{{ recipe.description }}</p>

  <div class="ingredients-count">Ingrédients: {{ recipe.ingredients.length }}</div>

  <div class="actions">
    <button pButton type="button" label="Voir" class="p-button-text"></button>
  </div>
</p-card>
