.app-header {
  background-color: var(--p-primary-color);
  color: white;
  padding: 0.4rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;

  button {
    position: absolute;
    right: 0;
  }
}

.header-logo {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1); // Rend le logo blanc
}

.app-header h1 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.action-button {
  color: white !important;
  font-size: 1.2rem;

  &:hover {
    background: rgba(255, 255, 255, 0.1) !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}
