<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <span>{{ formatDate(menuGroup.date) }}</span>
      <div class="header-actions">
        <button
          pButton
          type="button"
          icon="pi pi-shopping-cart"
          class="p-button-text p-button-sm"
          (click)="showShoppingDialog = true"
          title="Liste de courses"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-text p-button-sm"
          (click)="onEdit()"
          title="Modifier"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-danger p-button-text p-button-sm"
          (click)="onDelete()"
          title="Supprimer"
        ></button>
      </div>
    </div>
  </ng-template>
  <div class="menu-list">
    @for (menu of menuGroup.menus; track menu.num) {
    <div class="menu-item" [class.done]="menu.done">
      <span class="menu-num">{{ menu.num }}.</span>
      <span class="menu-title">{{ getRecipeTitle(menu.recipeId) }}</span>
      <span class="menu-personnes" [title]="(menu.personnes || 4) + ' personnes'">
        <i class="pi pi-user"></i>
        {{ menu.personnes || 4 }}
      </span>
      @if (menu.recipeId) {
      <button
        pButton
        type="button"
        icon="pi pi-eye"
        class="p-button-text p-button-sm p-button-rounded"
        (click)="viewRecipe(menu)"
        title="Voir la recette"
      ></button>
      }
    </div>
    }
  </div>
</p-card>

<app-menu-form [(visible)]="showEditDialog" [menuGroup]="menuGroup"></app-menu-form>

<app-shopping-list [(visible)]="showShoppingDialog" [menuGroup]="menuGroup"></app-shopping-list>

@if(showRecipeDialog && selectedRecipe){
<app-recipe-form
  [(visible)]="showRecipeDialog"
  [recipe]="selectedRecipe"
  [isReadOnly]="true"
></app-recipe-form>
}
<p-confirmDialog></p-confirmDialog>
