/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';
:root {
  --font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, sans-serif;
  --p-fieldset-padding: 0 !important;
  --p-dialog-content-padding: 1rem 1.25rem 1.25rem 1.25rem !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 0.875rem;
  background-color: var(--surface-ground);
  color: var(--text-color);
  min-height: 100vh;
}

// Styles globaux pour p-fieldset compacts
.p-fieldset {
  padding: 0;
  .p-fieldset-content {
    padding: 0.25rem !important;
  }
  .p-fieldset-legend {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem;
  }
}
.col-12 {
  padding: 0;
}
